

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

h2{
    text-align: center;
}

input[type="email"],
input[type="password"],
input[type="button"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #003cff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #050505;
}

.registro{
    text-align: center;
    text-decoration: none;
}